body {background:#EEE}
table {text-align:center}
.title {font-weight:bold;font-size:24pt}
p {margin:1ex}
h3 {page-break-inside:avoid;margin-bottom:0}
h3::after {content: "";display:block;
height: 60px;margin-bottom: -60px}
.button {text-align:center;font-size:x-large}
.button span {padding:5pt;background:#FD8;border:4px outset}
.foot {font-size:small}
li {margin:2pt 1ex 3pt -5pt}
strike {color:#666}
